{% extends 'base.html' %}
{% block content %}
<p></p>
<p></p>
<body style="background-color: #544e61;">
<link rel="stylesheet" href="{{ url_for('static', filename='css/icons2.css') }}">
<div>
<h1 style="color: white; text-align: center;">Наши контакты:</h1>
    <h6 style="color: white; text-align: center;">Телефон: + 7-999-99 99-99-9</h6>
<div>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab76191bd8eede31644b6730163cd1c20750f0ef15bf4f4654f440e944f4ece7c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
<p></p>
</body>
{% endblock %}
