{% extends "base.html" %}

{% block content %}
<div class="section-title" style="margin-top: 40px;">
    <span style="margin-top: 40px; font-size: 56px; text-shadow: 1px 1px 1px #000">{{title2}}</span>
</div>
<body style="background-image: url('static/img/fon2.jpg')">
<div class="wrap">
    {% for item in data %}
    <div class="box">
        <div class="box-top">
            <img class="box-image"
                 src="{{user.filter(User.id == item.user_id).first().avatar}}">
            <div class="title-flex">
                <h3 class="box-title">{{user.filter(User.id == item.user_id).first().name}} {{user.filter(User.id ==
                    item.user_id).first().patronymic}}</h3>
                <p class="user-follow-info">{{item.job}}</p>
            </div>
            <p class="description">Образование: {{item.obrazovanie}} </p>
            <p class="description">Дополнительное образование: {{item.dop_obrazovanie}} </p>
            <p class="description">Опыт работы: {{item.experience}} </p>
        </div>
        <a href="/obzor-summary/{{item.id}}" class="button1">Подробнее</a>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}