{% extends 'base.html' %}
{% block content %}
<p></p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background: url('static/img/fon.jpg') no-repeat center center fixed;">
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{user.avatar}}"
                                 class="rounded-circle" width="200">
                            <div class="mt-3">
                                <h4>{{name}}</h4>
                                <p class="text-secondary mb-1">{{role}}</p>
                                {% if organiz != 'None' %}
                                <p class="text-secondary mb-1">{{organiz}}</p>
                                {% endif %}
                                <form enctype="multipart/form-data" method="post">
                                    <p style="margin-left: 10%;"><input type="file" name="file"
                                                                        accept="image/jpeg,image/png"></p>
                                    <input type="submit" class="btn btn-primary"
                                           style="background-color: #6c757d; border-color: #6c757d;"
                                           value="Обновить фото">
                                </form>
                                <p></p>
                                <a class="btn btn-primary" style="background-color: #6c757d; border-color: #6c757d;"
                                   href="/edit-profile">Редактировать профиль</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="width: 1000px;">
                <div class="card mb-3" style="width: 1000px;">
                    <div class="card-body" style="width: 1000px;">
                        <div class="row" style="width: 1000px; height:60px">
                            <div class="col-sm-3">
                                <h4 class="mb-0">ФИО</h4>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 style="font-size: 20px; margin: auto; margin-left: -25%; margin-top: 40px;">
                                {{fio}}
                            </div>
                        </div>
                        <hr>
                        <p></p>
                        <div class="row" style="height:60px">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Почта</h4>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 style="font-size: 20px; margin: auto; margin-left: -25%; margin-top: 40px;">
                                {{email}}
                            </div>
                        </div>
                        <hr>
                        <p></p>
                        <div class="row" style="height:60px">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Номер телефона</h4>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 style="font-size: 20px; margin: auto; margin-left: -25%; margin-top: 40px;">
                                {{number}}
                            </div>
                        </div>
                        <hr>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}