{% extends "base.html" %}

{% block content %}
<body>
{% if title2 == 'Регистрация для представителя организации' %}
<div style="width: 800px; height: 1200px; display: block;
    margin-left: auto;
    margin-right: auto;">
    {% else %}
    <div style="width: 800px; height: 950px; display: block;
    margin-left: auto;
    margin-right: auto;">
        {% endif %}
        <h1 class="colorform" style="color: #ffc857; font-weight: 700; font-size: 54px;">{{title2}}</h1>
        <form action="" method="post" style="color: #ffc857;">
            {{ form.hidden_tag() }}
            <p style="color: #ffc857;">
                {{ form.email.label }}<br style="color: #ffc857;">
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p style="color: #ffc857;">
                {{ form.number.label }}<br style="color: #ffc857;">
                {{ form.number(class="form-control")}}<br>
                {% for error in form.number.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p style="color: #ffc857;">
                {{ form.password.label }}<br style="color: #ffc857;">
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p style="color: #ffc857;">
                {{ form.password_again.label }}<br style="color: #ffc857;">
                {{ form.password_again(class="form-control", type="password") }}<br>
                {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p style="color: #ffc857;">
                {{ form.name.label }}<br style="color: #ffc857;">
                {{ form.name(class="form-control", type="text") }}<br>
                {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p style="color: #ffc857;">
                {{ form.surname.label }}<br style="color: #ffc857;">
                {{ form.surname(class="form-control", type="text") }}<br>
                {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p style="color: #ffc857;">
                {{ form.patronymic.label }}<br style="color: #ffc857;">
                {{ form.patronymic(class="form-control", type="text") }}<br>
                {% for error in form.patronymic.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            {% if title2 == 'Регистрация для представителя организации' %}
            <p style="color: #ffc857;">
                {{ form.organiz.label }}<br style="color: #ffc857;">
                {{ form.organiz(class="form-control", type="text") }}<br>
                {% for error in form.organiz.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            {% endif %}
            <p>{{ form.submit(type="submit", class="enter", style="background-color:#db3a34; width: 250px;",
                value='Зарегестрироваться') }}</p>
            {{message}}
        </form>
    </div>
</body>
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" type="text/css">
{% endblock %}